import(Boom)

export(lm.spike,
       logit.spike,
       mlm.spike,
       poisson.spike,
       IndependentSpikeSlabPrior,
       MultinomialLogitSpikeSlabPrior,
       PlotLogitSpikeFitSummary,
       PlotLogitSpikeResiduals,
       PlotMarginalInclusionProbabilities,
       PlotModelSize,
       SpikeSlabPrior,
       SpikeSlabPriorBase,
       SummarizeSpikeSlabCoefficients,
       plot.lm.spike,
       predict.lm.spike,
       predict.poisson.spike,
       print.summary.lm.spike,
       summary.lm.spike)

S3method(plot, lm.spike)
S3method(predict, lm.spike)
S3method(summary, lm.spike)

S3method(print, summary.lm.spike)

S3method(plot, logit.spike)
S3method(predict, logit.spike)
S3method(summary, logit.spike)

S3method(print, summary.logit.spike)
useDynLib(BoomSpikeSlab,
          do_spike_slab,
          logit_spike_slab_wrapper,
          multinomial_logit_spike_slab,
          poisson_regression_spike_slab)
